~$*
.DS_Store
.cproject
.idea
.pydevproject
.project

/local.mk
/build
/build-*
/build_*
/Build-*
/Build_*
/*.app
/.settings

*.d
*.gif
*.o
*.orig
*.pb.h
*.pb.cc
*.png
*.pyc
*.ptx

bak_*
/.ptp-sync
.ptp-sync-folder
/.gdbinit
/Debug

# ipython notebook stuff
*.ipynb
.ipynb
